<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Trellis_AmazonCdn>
            <version>1.0.3</version>
        </Trellis_AmazonCdn>
    </modules>

    <global>
        <libraries>
            <rewrite>
                <Varien_Io_File>Trellis_AmazonCdn</Varien_Io_File>
            </rewrite>
        </libraries>

        <models>
            <trellis_amazoncdn>
                <class>Trellis_AmazonCdn_Model</class>
                <resourceModel>trellis_amazoncdn_resource</resourceModel>
            </trellis_amazoncdn>
            <trellis_amazoncdn_resource>
                <class>Trellis_AmazonCdn_Model_Resource</class>
                <entities>
                    <cache>
                        <table>trellis_amazoncdn_cache</table>
                    </cache>
                </entities>
            </trellis_amazoncdn_resource>
            <catalog>
                <rewrite>
                    <product_image>Trellis_AmazonCdn_Model_Catalog_Product_Image</product_image>
                    <category>Trellis_AmazonCdn_Model_Catalog_Category</category>
                </rewrite>
            </catalog>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Trellis_AmazonCdn_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
        <resources>
            <trellis_amazoncdn_setup>
                <setup>
                    <module>Trellis_AmazonCdn</module>
                </setup>
            </trellis_amazoncdn_setup>
        </resources>

        <helpers>
            <trellis_amazoncdn>
                <class>Trellis_AmazonCdn_Helper</class>
            </trellis_amazoncdn>
        </helpers>

        <blocks>
            <trellis_amazoncdn>
                <class>Trellis_AmazonCdn_Block</class>
            </trellis_amazoncdn>
            <cms>
                <rewrite>
                    <block>Trellis_AmazonCdn_Block_Block</block>
                    <page>Trellis_AmazonCdn_Block_Page</page>
                </rewrite>
            </cms>
            <enterprise_banner>
                <rewrite>
                    <widget_banner>Trellis_AmazonCdn_Block_Widget_Banner</widget_banner>
                </rewrite>
            </enterprise_banner>
        </blocks>

        <events>
            <controller_action_postdispatch_adminhtml_catalog_product_gallery_upload>
                <observers>
                    <trellis_amazoncdn>
                        <type>singleton</type>
                        <class>trellis_amazoncdn/observer</class>
                        <method>onGalleryUploadAction</method>
                    </trellis_amazoncdn>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_gallery_upload>
            <admin_system_config_changed_section_trellis_amazoncdn>
                <observers>
                    <trellis_amazoncdn>
                        <type>singleton</type>
                        <class>trellis_amazoncdn/observer</class>
                        <method>onConfigChange</method>
                    </trellis_amazoncdn>
                </observers>
            </admin_system_config_changed_section_trellis_amazoncdn>
            <catalog_product_save_after>
                <observers>
                    <trellis_amazoncdn>
                        <type>singleton</type>
                        <class>trellis_amazoncdn/observer</class>
                        <method>catalogProductModelSaveAfter</method>
                    </trellis_amazoncdn>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <trellis_amazoncdn>
                        <type>singleton</type>
                        <class>trellis_amazoncdn/observer</class>
                        <method>catalogCategoryModelSaveAfter</method>
                    </trellis_amazoncdn>
                </observers>
            </catalog_category_save_after>
        </events>
    </global>

    <crontab>
        <jobs>
            <trellis_amazoncdn>
                <schedule><cron_expr>0 0 1 * *</cron_expr></schedule>
                <run>
                    <model>trellis_amazoncdn/observer::cleanCache</model>
                </run>
            </trellis_amazoncdn>
        </jobs>
    </crontab>

    <default>
        <trellis_amazoncdn>
            <general>
                <cache_check_size>1</cache_check_size>
                <cache_ttl>1440</cache_ttl>
                <debug_mode>0</debug_mode>
            </general>
        </trellis_amazoncdn>
    </default>
</config>
